<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" color="primary" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <h1>Perfil</h1>
  </ion-row>
  <div *ngIf="contentLoaded">
    <ion-list>
      <ion-item class="perfiles">
        <ion-avatar>
          <ion-img src="{{server + foto}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{usuario}}</h2>
          <h3>{{rol}}</h3>
          <p></p>
          <p>{{correo}}</p>
        </ion-label>
        <div slot="end">
          <ion-button color="primary" expand="block" class="perfilbuton" (click)="mostrarModal()">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            Editar
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div> 
  <div *ngIf="!contentLoaded">
    <ion-list>
      <ion-item class="perfiles">
        <ion-avatar>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <p></p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-label>
        <div slot="end">
          <ion-button expand="full">
            <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
          </ion-button>          
        </div>
      </ion-item>
    </ion-list>
  </div>
  <app-according title="Facturación">
    <div *ngIf="!contentLoadedF">
      <ion-list>
        <ion-item class="listFactura">
          <ion-label position="floating">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
          <ion-input type="text"  disabled>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
          <ion-input type="text"  disabled>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
          <ion-input type="text"  disabled>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
          <ion-input type="text"  disabled>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="contentLoadedF">
      <ion-list>
        <ion-item class="listFactura">
          <ion-label position="floating">
            Razón Social
          </ion-label>
          <ion-input type="text" [(ngModel)]="bly_razonSocial" style="text-transform: capitalize;" disabled></ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            RFC
          </ion-label>
          <ion-input type="text" [(ngModel)]="bly_rfc" style="text-transform:uppercase;" disabled></ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            Dirección fiscal
          </ion-label>
          <ion-input type="text" [(ngModel)]="bly_direccionFiscal" style="text-transform: capitalize;" disabled></ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            Correo electrónico
          </ion-label>
          <ion-input type="text" [(ngModel)]="bly_correoElectronico" disabled></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </app-according>
  <app-according title="Métodos de pago">
    <ion-list>
      <ion-item class="item-content" *ngFor="let item of [1,1,1]">
        <div slot="start">
          <ion-row class="ion-align-items-center ion-no-padding">
            <ion-img src="/assets/imgs/visa.svg" style="height: 45px; width: 45px;"></ion-img>
            &nbsp;&nbsp;
            <ion-img src="/assets/imgs/mastercard.svg" style="height: 35px; width: 35px;"></ion-img>
          </ion-row>
        </div>
        <div slot="end" class="cardEdit">
          <ion-label>
            <h4 (click)="mostrarModal()">Editar</h4>
            <p> **** 0231</p>
          </ion-label>
        </div>
      </ion-item>
      <ion-item class="item-contentMetodo">
        <ion-icon name="add-circle-outline" slot="start" color="primary" (click)="mostrarModal()"></ion-icon>
        <ion-label class="tituloMetodo">Nuevo método de pago</ion-label>
      </ion-item>
      <br>
    </ion-list>
  </app-according>
  <app-according title="Administrar cuentas para pago">
    <ion-list>
      <ion-item class="item-content" *ngFor="let item of [1]">
        <div slot="start">
          <ion-row class="ion-align-items-center ion-no-padding">
            <ion-img src="/assets/imgs/visa.svg" style="height: 45px; width: 45px;"></ion-img>
            &nbsp;&nbsp;
            <ion-img src="/assets/imgs/mastercard.svg" style="height: 35px; width: 35px;"></ion-img>
          </ion-row>
        </div>
        <div slot="end" class="cardEdit">
          <ion-label>
            <h4 (click)="mostrarModal()">Editar</h4>
            <p> **** 0231</p>
          </ion-label>
        </div>
      </ion-item>
      <br>
    </ion-list>
  </app-according>
</ion-content>