<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-row class="diseñoModal">
      <ion-img src="/assets/imgs/buttons.svg"> </ion-img>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="background-color: transparent !important;">
    <ion-row>
      <h1>Verificación De Contraseña</h1>
    </ion-row>
    <ion-row>
      <p>
        La verificación de contraseñas funciona para confirmar que ambas tienen el formato correcto y la coincidencia de
        contraseñas.
      </p>
    </ion-row>
    <ion-row class="imagen">
      <ion-img src="/assets/imgs/verificar.svg"></ion-img>
    </ion-row>
  </ion-list>
</ion-content>