<ion-header>
  <ion-toolbar color="titulos" class="ion-no-border" translucent>
    <ion-buttons slot="end">
      <ion-button style="text-transform: capitalize;">
        Guardar y salir
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">
        <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="contentLoaded">
    <ion-label class="ion-label1">
      Establece descuentos
    </ion-label>
    <br>
    <ion-label class="ion-label2">
      para estancias de
    </ion-label>
    <br>
    <ion-label class="ion-label2">
      larga duración
    </ion-label>
    <br>
    <br>
    <p>
      Agregar un descuento semanal o mensual puede ayudarte a atraer reservaciones largas.
    </p>
    <br>
    <p class="parrafo">
      Descuento por semana (7 días o más)
    </p>
    <ion-input type="number" inputmode placeholder="%">    
    </ion-input>
    <br>
    <p class="parrafo">
      Descuento por mes (28 días o más)
    </p>
    <ion-input type="number" inputmode placeholder="%"></ion-input>
  </div>

  <div *ngIf="!contentLoaded">
    <ion-label class="ion-label1">
      <ion-skeleton-text animated style="width: 350px; height: 14px" slot="start"></ion-skeleton-text>
    </ion-label>
    <br>
    <ion-label class="ion-label2">
      <ion-skeleton-text animated style="width: 280px; height: 14px" slot="start"></ion-skeleton-text>
    </ion-label>
    <br>
    <ion-label class="ion-label2">
      <ion-skeleton-text animated style="width: 190px; height: 14px" slot="start"></ion-skeleton-text>
    </ion-label>
    <br>
    <br>
    <p>
      <ion-skeleton-text animated style="width: 320px; height: 10px" slot="start"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 280px; height: 10px" slot="start"></ion-skeleton-text>
    </p>
    <br>
    <p class="parrafo">
      <ion-skeleton-text animated style="width: 280px; height: 11px" slot="start"></ion-skeleton-text>
    </p>
    <ion-skeleton-text animated style="width: 250px; height: 9px" slot="start"></ion-skeleton-text>
    <br>
    <p class="parrafo">
      <ion-skeleton-text animated style="width: 280px; height: 11px" slot="start"></ion-skeleton-text>
    </p>
    <ion-skeleton-text animated style="width: 250px; height: 9px" slot="start"></ion-skeleton-text>
  </div>
 
</ion-content>  

<ion-footer>
  <ion-toolbar color="titulos" class="ion-no-border" translucent>
    <ion-buttons slot="primary">
      <ion-button (click)="guardarInformacion()">
        Siguiente
        <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>