<ion-content class="ion-no-padding background" fullscreen>
  <ion-label class="ion-label1">
    Nueva
  </ion-label>
  <br />
  <ion-label class="ion-label2">
    Aventura
  </ion-label>

 <div class="container center-h center-v">
  <div class="child">
    <ion-searchbar placeholder="¿En dónde?" [debounce]="400" animated class="buscarPromociones" mode="md" (ionChange)="onSearchChange($event)" autocomplete="true" spellcheck="true"> </ion-searchbar>
  </div>
</div>

<div class="container center-h center-v">
  <div class="child ion-text-center">
    <ion-button expand="full" fill="clear" class="texto-boton" shape="round" (click)="modalBusquedaAvanzada()"><ion-icon name="add-circle-outline" slot="end"></ion-icon>Búsqueda Avanzada</ion-button>
  </div>
</div>
</ion-content>