<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" color="primary" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <h1>Perfil</h1>
  </ion-row>
  <div *ngIf="contentLoaded">
    <ion-card>
      <div class="img-wrapper">
        <ion-avatar>
          <ion-img src="{{server + foto}}"></ion-img>
        </ion-avatar>
        <ion-button color="light" (click)="presentActionCamera()">
          <ion-icon slot="icon-only" name="camera-outline" color="primary">
          </ion-icon>
        </ion-button>
      </div>
      <ion-card-content>
        <ion-list>
          <ion-item class="datosGenerales">
            <ion-label position="floating">Nombre
            </ion-label>
            <ion-input [(ngModel)]="usuario" disabled></ion-input>
          </ion-item>

          <ion-item class="datosGenerales">
            <ion-label position="floating">Correo electrónico
            </ion-label>
            <ion-input [(ngModel)]="correo" disabled></ion-input>
          </ion-item>

          <ion-item class="datosGenerales">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input [(ngModel)]="telefono" disabled></ion-input>
          </ion-item>

          <ion-item class="datosGenerales">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [type]="showPassword ? 'password': 'password'" [(ngModel)]="contrasena" required>
            </ion-input>
            <ion-icon slot="end" [name]="passwordToggleIcon" (click)="presentCambiarContrasena()" color="primary"
              position="floating"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!contentLoaded">
    <ion-card>
      <div class="img-wrapper">
        <ion-avatar>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-button color="light">
          <ion-icon>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-icon>
        </ion-button>
      </div>
      <ion-card-content>
        <ion-list>
          <ion-item class="datosGenerales">
            <ion-label position="floating">
              <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
            </ion-label>
            <ion-input>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-input>
          </ion-item>

          <ion-item class="datosGenerales">
            <ion-label position="floating">
              <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
            </ion-label>
            <ion-input>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-input>
          </ion-item>

          <ion-item class="datosGenerales">
            <ion-label position="floating">
              <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
            </ion-label>
            <ion-input>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-input>
          </ion-item>

          <ion-item class="datosGenerales">
            <ion-label position="floating">
              <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
            </ion-label>
            <ion-input>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <br>
  <app-according01 title="Facturación">
    <div *ngIf="contentLoadedF">
      <ion-list>
        <ion-item class="listFactura">
          <ion-label position="floating">
            Razón Social
          </ion-label>
          <ion-input type="text" [(ngModel)]="facturacion.razonSocial" style="text-transform: capitalize;" required
            *ngIf="dato1"></ion-input>
          <ion-input type="text" [(ngModel)]="facturacion.razonSocial" style="text-transform: capitalize;" required
            *ngIf="dato5" disabled></ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            RFC
          </ion-label>
          <ion-input type="text" [(ngModel)]="facturacion.rfc" style="text-transform:uppercase;" required *ngIf="dato2">
          </ion-input>
          <ion-input type="text" [(ngModel)]="facturacion.rfc" style="text-transform:uppercase;" required *ngIf="dato6"
            disabled>
          </ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            Dirección fiscal
          </ion-label>
          <ion-input type="text" [(ngModel)]="facturacion.direccionFiscal" style="text-transform: capitalize;" required
            *ngIf="dato3"></ion-input>
          <ion-input type="text" [(ngModel)]="facturacion.direccionFiscal" style="text-transform: capitalize;" required
            *ngIf="dato7" disabled></ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            Correo electrónico
          </ion-label>
          <ion-input type="email" name="email" [(ngModel)]="facturacion.correoElectronico"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required *ngIf="dato4"></ion-input>
          <ion-input type="email" name="email" [(ngModel)]="facturacion.correoElectronico"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required *ngIf="dato8" disabled>
          </ion-input>
        </ion-item>
        <br>
        <ion-button expand="full" color="primary" shape="block" style="text-transform: capitalize;"
          (click)="registrarDataFacturacion()" *ngIf="ocultar1">
          Guardar
        </ion-button>
        <ion-button expand="full" color="primary" shape="block" style="text-transform: capitalize;"
          (click)="presentAlertFacturacion()" *ngIf="ocultar2">
          Actualizar
        </ion-button>
        <ion-button expand="full" color="primary" shape="block" style="text-transform: capitalize;"
          (click)="activarComponentes()" *ngIf="ocultar3">
          Editar
        </ion-button>
      </ion-list>
    </div>
    <div *ngIf="!contentLoadedF">
      <ion-list>
        <ion-item class="listFactura">
          <ion-label position="floating">
            <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
          </ion-label>
          <ion-input>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
          </ion-label>
          <ion-input>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
          </ion-label>
          <ion-input>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-input>
        </ion-item>
        <ion-item class="listFactura">
          <ion-label position="floating">
            <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
          </ion-label>
          <ion-input>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-input>
        </ion-item>
        <br>
        <ion-skeleton-text animated style="width: 100%; height: 40%;"></ion-skeleton-text>
      </ion-list>
    </div>
  </app-according01>
  <app-according02 title="Métodos de pago">
    <ion-list>
      <ion-item class="item-content" *ngFor="let item of [1,1,1]">
        <div slot="start">
          <ion-row class="ion-align-items-center ion-no-padding">
            <ion-img src="/assets/imgs/visa.svg" style="height: 45px; width: 45px;"></ion-img>
            &nbsp;&nbsp;
            <ion-img src="/assets/imgs/mastercard.svg" style="height: 35px; width: 35px;"></ion-img>
          </ion-row>
        </div>
        <div slot="end" class="cardEdit">
          <ion-label>
            <h4>Editar</h4>
            <p> **** 0231</p>
          </ion-label>
        </div>
      </ion-item>
      <br>
      <ion-item class="item-contentMetodo">
        <ion-label class="tituloMetodo">Nuevo método de pago</ion-label>
      </ion-item>
      <ion-list class="listFactura">
        <ion-row class="cardsAcept ion-align-items-center ion-no-padding">
          <ion-img src="/assets/imgs/amex.svg" style="height: 35px; width: 35px;"></ion-img>
          &nbsp;&nbsp;
          <ion-img src="/assets/imgs/visa.svg" style="height: 45px; width: 45px;"></ion-img>
          &nbsp;&nbsp;
          <ion-img src="/assets/imgs/mastercard.svg" style="height: 35px; width: 35px;"></ion-img>
        </ion-row>
        <br>
        <ion-item>
          <ion-label position="floating">
            Número de la tarjeta
          </ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Titular de la tarjeta
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="8">
            <ion-item>
              <ion-label position="floating">Fecha de expiración</ion-label>
              <ion-datetime display-format="MM YYYY" min="2015-01" max="2025-12" cancelText="Cancelar"
                done-text="Hecho"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label position="floating">
                CCV
              </ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" (click)="openModal4()">
              <ion-icon name="help-circle-outline" color="dark" slot="start" class="centrarIcon">
              </ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item lines="none" (click)="openModal5()">
              <ion-icon name="help-circle-outline" color="dark" slot="start" class="centrarIcon">
              </ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <ion-button expand="full" color="primary" shape="block" style="text-transform: capitalize;">
          Agregar
        </ion-button>
      </ion-list>
      <br>
    </ion-list>
  </app-according02>
</ion-content>