<ion-header class="ion-no-border" translucent mode="md">
  <ion-toolbar [class.show-background]="showToolbar" mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary">
        <ion-icon src="/assets/imgs/sidemenu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="¿A dónde quieres ir?" [debounce]="1800" animated class="buscarPromociones" mode="md" (ionChange)="onSearchChange($event)" autocomplete="true" spellcheck="true" > </ion-searchbar>
  </ion-toolbar>
</ion-header>
