<ion-content fullscreen>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card class="ion-padding card">
      <ion-card-content>
        <br>
        <br>
        <h2>Aviso de privacidad</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
          impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
          Veniam, officiis?
        </p>
        <p>
          Lorem   ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
          impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
          <u routerLink="/modal-aviso" style="color: blue;">Leer mas...</u>
        </p>
        <br>
        <ion-button expand="full" color="primary" shape="block" (click)="onlogin()" style="text-transform: capitalize; font-size: 14px;">Aceptar</ion-button>
      </ion-card-content> 
    </ion-card>
  </div>  
</ion-content>