<ion-header>
  <ion-toolbar color="titulos" lines="nones">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="open()">
        <ion-icon name="information-circle-outline" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bgpf" (click)="close()"></div>

  <div class="bottomSheetf" (touchmove)="touchMove($event)" (touchend)="touchEnd()">
    <div class="swipe-handler"></div>
    <div class="content ion-padding">
      <h1>Validación de información</h1>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <p>
              Para validar la información se requiere seguir un orden en específico según como vallan apareciendo los
              botones habilitados.
            </p>
            <p>
              Si hay cosas que no desea agregar por ejemplo una amenidad o un requisito de renta simplemente no lo
              seleccione y eso no se guardara.
            </p>
          </ion-col>
          <ion-col size="6">
            <ion-img src="assets/gifs/gif-pf.gif"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ion-row>
    <ion-label class="ion-label1">
      Para terminar, verifiquemos la información
    </ion-label>
  </ion-row>
  <br>
  <br>
  <ion-card>
    <ion-card-title>Información apartado A</ion-card-title>
    <ion-card>
      <ion-card-title>Información General</ion-card-title>
      <ion-card-subtitle>Verifique que la información es correcta...</ion-card-subtitle>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" color="primary">Nombre Propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_tituloPropiedad" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">País donde se encuentra ubicada la propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_pais" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Estado donde se encuentra ubicada la propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_estado" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Ciudad donde se encuentra ubicada la propiedad</ion-label>
          <ion-input [(ngModel)]="bly_ciudad" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Calle donde se encuentra ubicada la propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_calle" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Código postal de la propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_codigoPostal" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Dirección general de la propiedad:</ion-label>
          <ion-textarea rows="4" [(ngModel)]="bly_direccionGeneral" disabled></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-title>Información de interiores de propiedad</ion-card-title>
      <ion-card-subtitle>Verifique que la información es correcta o sino haga los cambios pertinentes...
      </ion-card-subtitle>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" color="primary">Cantidad de huéspedes permitida en su propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_numHuespedes" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Cantidad de habitaciones con las que cuenta tu propiedad:
          </ion-label>
          <ion-input [(ngModel)]="bly_numHabitaciones" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Cantidad de camas que tiene tu propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_numCamas" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Cantidad de baños que tiene la propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_numBanos" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Tipo de baño que tiene la propiedad:</ion-label>
          <ion-input [(ngModel)]="bly_tipoBano" disabled></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-title>Información de la propiedad</ion-card-title>
      <ion-card-subtitle>Verifique la información si es correcta presione el check de validación y presione al final el
        botón de guardar...</ion-card-subtitle>
      <ion-card-content>
        <ion-item *ngFor="let propiedad of tipoPropiedad">
          <ion-label position="floating" color="primary">Tipo de propiedad:</ion-label>
          <ion-input [(ngModel)]="propiedad.bly_propiedadTipo" disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let alojamiento of tipoAlojamiento">
          <ion-label position="floating" color="primary">Tipo de alojamiento:</ion-label>
          <ion-input [(ngModel)]="alojamiento.bly_alojamientoPropiedad" disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let exclusiva of tipoExclusividad">
          <ion-label position="floating" color="primary">Tipo de exclusividad de alojamiento:</ion-label>
          <ion-textarea rows="3" [(ngModel)]="exclusiva.bly_tipoExclusividad" disabled></ion-textarea>
        </ion-item>
        <ion-item *ngFor="let aventura of tipoAventura">
          <ion-label position="floating" color="primary">Tipo de aventura:</ion-label>
          <ion-input [(ngModel)]="aventura.bly_aventura" disabled></ion-input>
        </ion-item>
        <ion-grid *ngFor="let frecuencia of informacionFrecuenciaRecepcion">
          <ion-row>
            <ion-col size="10">
              <ion-item>
                <ion-label position="floating" color="primary">Frecuencia con la que se rentara la propiedad:
                </ion-label>
                <ion-input [(ngModel)]="frecuencia.bly_categoriaFrecuencia" disabled></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <br>
              <ion-button size="small" (click)="obtenerFrecuenciaRenta(frecuencia.bly_frecuenciaRenta)" *ngIf="dato1">
                <ion-icon name="checkmark-circle"></ion-icon>
              </ion-button>
              <ion-button size="small" *ngIf="dato2" color="success" (click)="informacionVerificada()">
                <ion-icon name="checkmark-done-circle"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngFor="let historial of informacionHistorialPrevio">
          <ion-row>
            <ion-col size="10">
              <ion-item>
                <ion-label position="floating" color="primary">Historial previo de renta de la propiedad:</ion-label>
                <ion-input [(ngModel)]="historial.bly_tipoHistorial" disabled></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <br>
              <ion-button size="small" (click)="obtenerTipoHistorial(historial.bly_historialPrevioPropiedad)"
                *ngIf="dato3">
                <ion-icon name="checkmark-circle"></ion-icon>
              </ion-button>
              <ion-button size="small" *ngIf="dato4" color="success" (click)="informacionVerificada()">
                <ion-icon name="checkmark-done-circle"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngFor="let aprobacion of informacionTipoAprobacion">
          <ion-row>
            <ion-col size="10">
              <ion-item>
                <ion-label position="floating" color="primary">Tipo de aprobación para rentar la propiedad:</ion-label>
                <ion-input [(ngModel)]="aprobacion.bly_descripcionStatus" disabled></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <br>
              <ion-button size="small" (click)="obtenerTipoAprobacion(aprobacion.bly_statusRenta)" *ngIf="dato5">
                <ion-icon name="checkmark-circle"></ion-icon>
              </ion-button>
              <ion-button size="small" *ngIf="dato6" color="success" (click)="informacionVerificada()">
                <ion-icon name="checkmark-done-circle"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-button expand="full" (click)="cargaRegistroPropiedad()" *ngIf="dato7p" disabled>Guardar información
          apartado A</ion-button>
        <ion-button expand="full" (click)="cargaRegistroPropiedad()" *ngIf="dato7">Guardar información apartado A
        </ion-button>
        <ion-button expand="full" *ngIf="dato8" disabled color="success">Información Guardada</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-card>
  <ion-card>
    <ion-card>
      <ion-card-title>Información costos de renta</ion-card-title>
      <ion-card-subtitle>Verifique que la información es correcta...</ion-card-subtitle>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" color="primary">Costo de renta:</ion-label>
          <ion-input [(ngModel)]="bly_precioBase" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Costo de limpieza:</ion-label>
          <ion-input [(ngModel)]="bly_cargoLimpieza" disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let moneda of tipoMoneda">
          <ion-label position="floating" color="primary">Tipo de moneda de pago:</ion-label>
          <ion-input [(ngModel)]="moneda.bly_moneda" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Porcentaje de descuento por una semana:</ion-label>
          <ion-input [(ngModel)]="bly_descuentoSemana" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Porcentaje de descuento por un mes:</ion-label>
          <ion-input [(ngModel)]="bly_descuentoMes" disabled></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-button expand="full" (click)="cargaRegistroCostos()" *ngIf="dato9p" disabled>Guardar información de costos
        </ion-button>
        <ion-button expand="full" (click)="cargaRegistroCostos()" *ngIf="dato9">Guardar información de costos
        </ion-button>
        <ion-button expand="full" *ngIf="dato10" disabled color="success">Información Guardada</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-card>
  <ion-card>
    <ion-card-title>Muebles propiedad</ion-card-title>
    <ion-card-subtitle>Si los muebles mostrados son correctos presione el check para guardar la información...
    </ion-card-subtitle>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let infoMueble of informacionMuebles; let i = index">
          <ion-col size="5">
            <ion-item>
              <ion-label position="floating" color="primary">Tipo de mueble:</ion-label>
              <ion-input [(ngModel)]="infoMueble.bly_tipoMueble" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item>
              <ion-label position="floating" color="primary">Cantidad de muebles de este tipo en la propiedad:
              </ion-label>
              <ion-input value={{infoMueble.bly_cantidadMuebles}} disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <br>
            <ion-button size="small" *ngIf="dato12" color="danger" disabled>
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" *ngIf="dato11" (click)="obtenerCantidadMueble(infoMueble.bly_cantidadMuebles)"
              (click)="obtenerTipoMueble(infoMueble.bly_numMuebles)" (click)="cargaRegistroMueble()">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Amenidades propiedad</ion-card-title>
    <ion-card-subtitle>Si las amenidades mostrados son correctos presione el check para guardar la información...
    </ion-card-subtitle>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let amenidad of informacionAmenidades">
          <ion-col size="10">
            <ion-item>
              <ion-label position="floating" color="primary">Tipo de amenidad:</ion-label>
              <ion-input [(ngModel)]="amenidad.bly_tipoAmenidad" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <br>
            <ion-button size="small" color="danger" *ngIf="btnAND" disabled>
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="obtenerAmenidad(amenidad.bly_amenidades)"
              (click)="cargarRegistroAmenidades()" *ngIf="btnAD">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Áreas comunes de la propiedad</ion-card-title>
    <ion-card-subtitle>Si las áreas comunes o espacios mostrados son correctos presione el check para guardar la
      información...</ion-card-subtitle>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let area of informacionAreasComunes">
          <ion-col size="10">
            <ion-item>
              <ion-label position="floating" color="primary">Tipo de espacios:</ion-label>
              <ion-input [(ngModel)]="area.bly_descripcionEspacios" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <br>
            <ion-button size="small" color="danger" disabled *ngIf="btnACN">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="obtenerAreas(area.bly_espacios)" (click)="cargaRegistroEspacio()"
              *ngIf="btnAC">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Medidas de seguridad de la propiedad</ion-card-title>
    <ion-card-subtitle>Si las medidas de seguridad mostrados son correctas presione el check para guardar la
      información...</ion-card-subtitle>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let seguridad of informacionSeguridad">
          <ion-col size="10">
            <ion-item>
              <ion-label position="floating" color="primary">Tipo de seguridad:</ion-label>
              <ion-input [(ngModel)]="seguridad.bly_tipoSeguridad" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <br>
            <ion-button size="small" color="danger" disabled *ngIf="btnMSN">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="obtenerSeguridad(seguridad.bly_seguridad)"
              (click)="cargaRegistroSeguridad()" *ngIf="btnMS">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Restricciones de la propiedad</ion-card-title>
    <ion-card-subtitle>Si las restricciones mostradas son correctas presione el check para guardar la información...
    </ion-card-subtitle>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let restriccion of informacionRestricciones">
          <ion-col size="10">
            <ion-item>
              <ion-label position="floating" color="primary">Tipo de restriccion:</ion-label>
              <ion-input [(ngModel)]="restriccion.bly_tipoRestriccion" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <br>
            <ion-button size="small" color="danger" disabled *ngIf="btnRPN">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="obtenerRestriccion(restriccion.bly_numRestriccion)"
              (click)="cargaRegistroRestricciones()" *ngIf="btnRP">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Requisitos para rentar</ion-card-title>
    <ion-card-subtitle>Si los requisitos mostrados son correctos presione el check para guardar la información...
    </ion-card-subtitle>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let requisito of informacionRequisitos">
          <ion-col size="10">
            <ion-item>
              <ion-label position="floating" color="primary">Tipo de requisito:</ion-label>
              <ion-input [(ngModel)]="requisito.bly_tipo_requisitoRenta" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <br>
            <ion-button size="small" color="danger" disabled *ngIf="btnRRN">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="obtenerRequisito(requisito.bly_requisitosRenta)"
              (click)="cargaRegistroRequisitos()" *ngIf="btnRR">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Información apartado B</ion-card-title>
    <ion-card>
      <ion-card-title>Disponibilidad de renta</ion-card-title>
      <ion-card-subtitle>Verifique que la información es correcta o sino haga los cambios pertinentes...
      </ion-card-subtitle>
      <ion-card-content>
        <ion-item *ngFor="let preaviso of tipoPreaviso">
          <ion-label position="floating" color="primary">Tiempo que se necesita para tener lista la propiedad:
          </ion-label>
          <ion-input value={{preaviso.bly_preavisoDescripcion}} disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let salidaH of tipoSalidaH">
          <ion-label position="floating" color="primary">Tiempo que necesitas para tener lista la propiedad lista
            después de la salida de huéspedes:</ion-label>
          <ion-input value={{salidaH.bly_preavisoDescripcion}} disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let horas of tipoHoras">
          <ion-label position="floating" color="primary">Hora límite para reservaciones:</ion-label>
          <ion-input value={{horas.bly_Horas}} disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let ventanaD of tipoVentanaDisponibilidad">
          <ion-label position="floating" color="primary">Cuanto tiempo para reservar:</ion-label>
          <ion-input value={{ventanaD.bly_descripcionVentanaDisponibilidad}} disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let llegadaD of tipoHoraLlegada">
          <ion-label position="floating" color="primary">Llegada después de las:</ion-label>
          <ion-input value={{llegadaD.bly_Horas}} disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let llegadaA of tipoHoraLlegadaAntes">
          <ion-label position="floating" color="primary">Llegada antes de las:</ion-label>
          <ion-input value={{llegadaA.bly_Horas}} disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let salida of tipoSalida">
          <ion-label position="floating" color="primary">Salida antes de las:</ion-label>
          <ion-input value={{salida.bly_Horas}} disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Fecha de inicio de disponibilidad:</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" value="{{bly_fechaInicio}}" disabled></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Fecha de finalización de disponibilidad:</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" value="{{bly_fechaFinal}}" disabled></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Fecha de inicio de no disponibilidad:</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" value="{{bly_fechaInicialND}}" disabled></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Fecha de finalización de no disponibilidad:</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" value="{{bly_fechaFinalND}}" disabled></ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-button expand="full" disabled *ngIf="btnDisponibilidadN" color="primary">Guardar información apartado B
        </ion-button>
        <ion-button expand="full" *ngIf="btnDisponibilidad" color="primary" (click)="cargaRegistroDisponibilidad()">
          Guardar información apartado B</ion-button>
        <ion-button expand="full" *ngIf="btnDisponibilidadF" color="success" disabled>Información Guardada</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-img src="{{foto1}}"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" disabled *ngIf="btnf1">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="cargaRF1()"
               *ngIf="btnf1n">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" color="success" disabled *ngIf="btnf1s">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-img src="{{foto2}}"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" disabled *ngIf="btnf2">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="cargaRF2()"
               *ngIf="btnf2n">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" color="success" disabled *ngIf="btnf2s">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-img src="{{foto3}}"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" disabled *ngIf="btnf3">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="cargaRF3()"
               *ngIf="btnf3n">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" color="success" disabled *ngIf="btnf3s">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-img src="{{foto4}}"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" disabled *ngIf="btnf4">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="cargaRF4()"
               *ngIf="btnf4n">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" color="success" disabled *ngIf="btnf4s">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-img src="{{foto5}}"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" disabled *ngIf="btnf5">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="cargaRF5()"
               *ngIf="btnf5n">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" color="success" disabled *ngIf="btnf5s">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-img src="{{foto6}}"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" disabled *ngIf="btnf6">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="cargaRF6()"
               *ngIf="btnf6n">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" color="success" disabled *ngIf="btnf6s">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-img src="{{foto7}}"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" disabled *ngIf="btnf7">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="cargaRF7()"
               *ngIf="btnf7n">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" color="success" disabled *ngIf="btnf7s">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-img src="{{foto8}}"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" disabled *ngIf="btnf8">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" (click)="cargaRF8()"
               *ngIf="btnf8n">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" color="success" disabled *ngIf="btnf8s">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="titulos" class="ion-no-border" translucent>
    <ion-buttons slot="primary">
      <ion-button *ngIf="btnPublicar" disabled>
        Publicar
        <ion-icon slot="end" name="earth" color="primary"></ion-icon>
      </ion-button>
      <ion-button *ngIf="publicarbtn" (click)="cargaPublicacion()">
        Publicar
        <ion-icon slot="end" name="earth" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>