ion-toolbar {
    --background: #1897ed;
    color: #ffffff;
    padding-bottom: 200px;
    border-radius: 0 0 20% 20%;
}

ion-content {
    margin-top: 35px;
    --background: transparent !important;
    position: absolute;
    z-index: 10;
    ion-card {
        background: #e4e0e0;
        margin-top: 5%;
        padding: 6px;
        box-shadow: none;
        box-shadow: 0px 3px 45px 0px rgba(24, 20, 20, 0.16);
        border-radius: 2px 2px 16px 16px;
        overflow: visible;
        ion-img {
            height: 200px;
            width: 100%;
            margin: auto;
            display: block;
        }

        ion-thumbnail {
            --border-radius: 10px;
            border: 1px solid var(--grayColor);
            height: 200px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    ion-item {
        border-radius: 14px;
        box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.08);

        ion-icon:first-of-type {
            background: #ed576b;
            color: #ffffff;
            padding: 4px;
            border-radius: 12px;
        }

        ion-icon:last-of-type {
            background: #316dd0;
            color: #ffffff;
            padding: 4px;
            border-radius: 12px;
        }
    }

    ion-col {
        padding: 0;
    }

    .datos {
        margin-left: auto;
        margin-right: auto;
    }
}


.bottomSheetp1{
    position: fixed;
    width: auto;
    height: 350px;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    z-index: 60;
    background-color: var(--ion-color-titulos);
    transition: 0.3s;
    transform: translate3d(0,0,0);

    .content{
        h1 {
            margin-left: 10%;
            font-family: "HelveticaBold";
            font-size: 25px;
            color: white;
            display: inline-block;
           
        }
        p{
            font-family: "Helvetica";
            font-size: 13px;
            color: white;
            text-align: justify;
        }
    }

    .swipe-handler::after {
        content: '';
        width: 50px;
        height: 6px;
        position: absolute;
        left:50%;
        top:5%;
        margin-left: -18px;
        margin-top: -3px;
        border-radius: 3px;
        background: rgb(124, 123, 123);
    }
}

.bgp1 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 10;
    transition: 0.3s;
}