.center {
    margin-bottom: 5%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    height: 60%;
}

* {
    font-family: 'HelveticaBold';
    font-weight: bold;
}

.menu-header-bg {
    height: 180px;
    width: 348px;
    background: #e2e5e7;
    background: linear-gradient(90deg, #61676d 0%, #61676d 100%);
    box-shadow: 0px 1px 10px rgba(91, 97, 114, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.icon{
    color: #ffffff !important;
}

.label {
    font-family: 'HelveticaBold';
    font-size: 16px;
}

.header-content {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #61676d;
    }

    h2{
        font-weight: 300;    
        color:#ffffff;
    }

    p{
        font-size: 12px;
        color: #e4e4e4;
        font-weight: 100;
    }
}

.sub-item{
    padding-left: 18px;
    font-size: small;
    font-family: 'HelveticaIt';
    color:#747778;
}