ion-content {
    --background: #1d1e1e;
}

.ion-label1 {
    margin-top: 10%;
    margin-left: 10%;
    font-family: "HelveticaBold";
    font-size: 25px;
    color: white;
    display: inline-block;
}

.parrafo {
    font-family: "HelveticaBold";
    font-size: 13px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}
