ion-content {
    --background: #1d1e1e !important;
}

ion-toolbar {
    --background: #1d1e1e !important;
}

ion-list {
    --background: #1d1e1e !important;
    ion-row {
        -background: #1d1e1e !important;
    }
    h1 {
        padding: 5px;
        font-family: "HelveticaBold";
        color: white;
        font-size: 18px;
        margin-top: 2px;
        margin-left: 2%;
        -background: #1d1e1e !important;
    }

    p {
        padding: 15px;
        font-family: "Helvetica";
        font-size: 14px;
        font-weight: bold;
        color: white;
        text-align: left;
        -background: #1d1e1e !important;
    }
    ul {
        li{
            font-family: "Helvetica";
            font-size: 14px;
            font-weight: bold;
            color: white;
            text-align: left;
            -background: #1d1e1e !important;
        }
    }
}

.diseñoModal {
    height: 45px;
    width: 35px;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imagen {
    width: 95px;
    height: 95px;
    float: right;
}


