ion-content {
    --background: #76801a;
}

.container {
    -webkit-animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s alternate backwards;
    animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s alternate backwards;
  }
