// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1897ed;
  --ion-color-primary-rgb: 24, 151, 237;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1585d1;
  --ion-color-primary-tint: #2fa1ef;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** titulos **/
  --ion-color-titulos: #1d1e1e;
  --ion-color-titulos-rgb: 29, 30, 30;
  --ion-color-titulos-contrast: #ffffff;
  --ion-color-titulos-contrast-rgb: 255, 255, 255;
  --ion-color-titulos-shade: #1a1a1a;
  --ion-color-titulos-tint: #343535;

  /** aviso **/
  --ion-color-aviso: #97a27c;
  --ion-color-aviso-rgb: 151, 162, 124;
  --ion-color-aviso-contrast: #000000;
  --ion-color-aviso-contrast-rgb: 0, 0, 0;
  --ion-color-aviso-shade: #858f6d;
  --ion-color-aviso-tint: #a1ab89;

  // Facebook
  --ion-color-facebook: #0f49f5;
  --ion-color-facebook-rgb: 15, 73, 245;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #0d40d8;
  --ion-color-facebook-tint: #275bf6;

  // Formularios

  --ion-color-form: #f4f5f8;
  --ion-color-form-rgb: 244, 245, 248;
  --ion-color-form-contrast: #000000;
  --ion-color-form-contrast-rgb: 0, 0, 0;
  --ion-color-form-shade: #d7d8da;
  --ion-color-form-tint: #f5f6f9;

  // Sidemenu
  --ion-color-sidemenu: #292d33;
  --ion-color-sidemenu-rgb: 41, 45, 51;
  --ion-color-sidemenu-contrast: #ffffff;
  --ion-color-sidemenu-contrast-rgb: 255, 255, 255;
  --ion-color-sidemenu-shade: #24282d;
  --ion-color-sidemenu-tint: #3e4247;

  // Twitter
  --ion-color-twitter: #14c4ff;
  --ion-color-twitter-rgb: 20, 196, 255;
  --ion-color-twitter-contrast: #ffffff;
  --ion-color-twitter-contrast-rgb: 0, 0, 0;
  --ion-color-twitter-shade: #12ace0;
  --ion-color-twitter-tint: #2ccaff;

  // Youtube
  --ion-color-youtube: #ff0000;
  --ion-color-youtube-rgb: 255, 0, 0;
  --ion-color-youtube-contrast: #ffffff;
  --ion-color-youtube-contrast-rgb: 255, 255, 255;
  --ion-color-youtube-shade: #e00000;
  --ion-color-youtube-tint: #ff1a1a;

  // SearchBar
  --ion-color-searchbar: #ffffff;
  --ion-color-searchbar-rgb: 255, 255, 255;
  --ion-color-searchbar-contrast: #000000;
  --ion-color-searchbar-contrast-rgb: 0, 0, 0;
  --ion-color-searchbar-shade: #e0e0e0;
  --ion-color-searchbar-tint: #ffffff;

  // Mensaje
  --ion-color-mensaje: #eaeaea;
  --ion-color-mensaje-rgb: 234, 234, 234;
  --ion-color-mensaje-contrast: #000000;
  --ion-color-mensaje-contrast-rgb: 0, 0, 0;
  --ion-color-mensaje-shade: #cecece;
  --ion-color-mensaje-tint: #ececec;

  // Mensajes
  --ion-color-mensajes: #cccccc;
  --ion-color-mensajes-rgb: 204, 204, 204;
  --ion-color-mensajes-contrast: #000000;
  --ion-color-mensajes-contrast-rgb: 0, 0, 0;
  --ion-color-mensajes-shade: #b4b4b4;
  --ion-color-mensajes-tint: #d1d1d1;

  // List
  --ion-color-list: #e1dfdf;
  --ion-color-list-rgb: 225, 223, 223;
  --ion-color-list-contrast: #000000;
  --ion-color-list-contrast-rgb: 0, 0, 0;
  --ion-color-list-shade: #c6c4c4;
  --ion-color-list-tint: #e4e2e2;

  // Visa Card
  --ion-color-visa: #22275d;
  --ion-color-visa-rgb: 34, 39, 93;
  --ion-color-visa-contrast: #ffffff;
  --ion-color-visa-contrast-rgb: 255, 255, 255;
  --ion-color-visa-shade: #1e2252;
  --ion-color-visa-tint: #383d6d;

  // MasterCard
  --ion-color-master: #ea5405;
  --ion-color-master-rgb: 234, 84, 5;
  --ion-color-master-contrast: #ffffff;
  --ion-color-master-contrast-rgb: 255, 255, 255;
  --ion-color-master-shade: #ce4a04;
  --ion-color-master-tint: #ec651e;

  // Amex
  --ion-color-amex: #016cca;
  --ion-color-amex-rgb: 1, 108, 202;
  --ion-color-amex-contrast: #ffffff;
  --ion-color-amex-contrast-rgb: 255, 255, 255;
  --ion-color-amex-shade: #015fb2;
  --ion-color-amex-tint: #1a7bcf;

  //blybn
  --ion-color-blybn: #acb90b;
  --ion-color-blybn-rgb: 172, 185, 11;
  --ion-color-blybn-contrast: #000000;
  --ion-color-blybn-contrast-rgb: 0, 0, 0;
  --ion-color-blybn-shade: #97a30a;
  --ion-color-blybn-tint: #b4c023;
  //dinero
  --ion-color-dinero: #31482c;
  --ion-color-dinero-rgb: 49, 72, 44;
  --ion-color-dinero-contrast: #ffffff;
  --ion-color-dinero-contrast-rgb: 255, 255, 255;
  --ion-color-dinero-shade: #2b3f27;
  --ion-color-dinero-tint: #465a41;
  //mueble
  --ion-color-mueble: #d2bca5;
  --ion-color-mueble-rgb: 210, 188, 165;
  --ion-color-mueble-contrast: #000000;
  --ion-color-mueble-contrast-rgb: 0, 0, 0;
  --ion-color-mueble-shade: #b9a591;
  --ion-color-mueble-tint: #d7c3ae;
  //amenidad
  --ion-color-amenidad: #366d81;
  --ion-color-amenidad-rgb: 54, 109, 129;
  --ion-color-amenidad-contrast: #ffffff;
  --ion-color-amenidad-contrast-rgb: 255, 255, 255;
  --ion-color-amenidad-shade: #306072;
  --ion-color-amenidad-tint: #4a7c8e;
  //restriccion
  --ion-color-restringir: #dd0612;
  --ion-color-restringir-rgb: 221, 6, 18;
  --ion-color-restringir-contrast: #ffffff;
  --ion-color-restringir-contrast-rgb: 255, 255, 255;
  --ion-color-restringir-shade: #c20510;
  --ion-color-restringir-tint: #e01f2a;
  //seguridad
  --ion-color-seguridad: #cc5557;
  --ion-color-seguridad-rgb: 204, 85, 87;
  --ion-color-seguridad-contrast: #ffffff;
  --ion-color-seguridad-contrast-rgb: 255, 255, 255;
  --ion-color-seguridad-shade: #b44b4d;
  --ion-color-seguridad-tint: #d16668;
  //requisito
  --ion-color-requisito: #f2d060;
  --ion-color-requisito-rgb: 242, 208, 96;
  --ion-color-requisito-contrast: #000000;
  --ion-color-requisito-contrast-rgb: 0, 0, 0;
  --ion-color-requisito-shade: #d5b754;
  --ion-color-requisito-tint: #f3d570;
  //disponibilidad
  --ion-color-disponibilidad: #353f7a;
  --ion-color-disponibilidad-rgb: 53, 63, 122;
  --ion-color-disponibilidad-contrast: #ffffff;
  --ion-color-disponibilidad-contrast-rgb: 255, 255, 255;
  --ion-color-disponibilidad-shade: #2f376b;
  --ion-color-disponibilidad-tint: #495287;
  //resena
  --ion-color-resena: #3880ff;
  --ion-color-resena-rgb: 56, 128, 255;
  --ion-color-resena-contrast: #ffffff;
  --ion-color-resena-contrast-rgb: 255, 255, 255;
  --ion-color-resena-shade: #3171e0;
  --ion-color-resena-tint: #4c8dff;
}

.ion-color-dinero {
  --ion-color-base: var(--ion-color-dinero) !important;
  --ion-color-base-rgb: var(--ion-color-dinero-rgb) !important;
  --ion-color-contrast: var(--ion-color-dinero-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dinero-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dinero-shade) !important;
  --ion-color-tint: var(--ion-color-dinero-tint) !important;
}

.ion-color-mueble {
  --ion-color-base: var(--ion-color-mueble) !important;
  --ion-color-base-rgb: var(--ion-color-mueble-rgb) !important;
  --ion-color-contrast: var(--ion-color-mueble-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mueble-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mueble-shade) !important;
  --ion-color-tint: var(--ion-color-mueble-tint) !important;
}

.ion-color-amenidad {
  --ion-color-base: var(--ion-color-amenidad) !important;
  --ion-color-base-rgb: var(--ion-color-amenidad-rgb) !important;
  --ion-color-contrast: var(--ion-color-amenidad-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-amenidad-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-amenidad-shade) !important;
  --ion-color-tint: var(--ion-color-amenidad-tint) !important;
}

.ion-color-restringir {
  --ion-color-base: var(--ion-color-restringir) !important;
  --ion-color-base-rgb: var(--ion-color-restringir-rgb) !important;
  --ion-color-contrast: var(--ion-color-restringir-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-restringir-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-restringir-shade) !important;
  --ion-color-tint: var(--ion-color-restringir-tint) !important;
}

.ion-color-seguridad {
  --ion-color-base: var(--ion-color-seguridad) !important;
  --ion-color-base-rgb: var(--ion-color-seguridad-rgb) !important;
  --ion-color-contrast: var(--ion-color-seguridad-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-seguridad-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-seguridad-shade) !important;
  --ion-color-tint: var(--ion-color-seguridad-tint) !important;
}

.ion-color-requisito {
  --ion-color-base: var(--ion-color-requisito) !important;
  --ion-color-base-rgb: var(--ion-color-requisito-rgb) !important;
  --ion-color-contrast: var(--ion-color-requisito-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-requisito-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-requisito-shade) !important;
  --ion-color-tint: var(--ion-color-requisito-tint) !important;
}

.ion-color-disponibilidad {
  --ion-color-base: var(--ion-color-disponibilidad) !important;
  --ion-color-base-rgb: var(--ion-color-disponibilidad-rgb) !important;
  --ion-color-contrast: var(--ion-color-disponibilidad-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-disponibilidad-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-disponibilidad-shade) !important;
  --ion-color-tint: var(--ion-color-disponibilidad-tint) !important;
}

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook) !important;
  --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
  --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-facebook-shade) !important;
  --ion-color-tint: var(--ion-color-facebook-tint) !important;
}

.ion-color-titulos {
  --ion-color-base: var(--ion-color-titulos) !important;
  --ion-color-base-rgb: var(--ion-color-titulos-rgb) !important;
  --ion-color-contrast: var(--ion-color-titulos-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-titulos-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-titulos-shade) !important;
  --ion-color-tint: var(--ion-color-titulos-tint) !important;
}

.ion-color-aviso {
  --ion-color-base: var(--ion-color-aviso) !important;
  --ion-color-base-rgb: var(--ion-color-aviso-rgb) !important;
  --ion-color-contrast: var(--ion-color-aviso-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-aviso-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-aviso-shade) !important;
  --ion-color-tint: var(--ion-color-aviso-tint) !important;
}

.ion-color-form {
  --ion-color-base: var(--ion-color-form) !important;
  --ion-color-base-rgb: var(--ion-color-form-rgb) !important;
  --ion-color-contrast: var(--ion-color-form-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-form-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-form-shade) !important;
  --ion-color-tint: var(--ion-color-form-tint) !important;
}

.ion-color-sidemenu {
  --ion-color-base: var(--ion-color-sidemenu) !important;
  --ion-color-base-rgb: var(--ion-color-sidemenu-rgb) !important;
  --ion-color-contrast: var(--ion-color-sidemenu-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-sidemenu-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-sidemenu-shade) !important;
  --ion-color-tint: var(--ion-color-sidemenu-tint) !important;
}

.ion-color-twitter {
  --ion-color-base: var(--ion-color-twitter) !important;
  --ion-color-base-rgb: var(--ion-color-twitter-rgb) !important;
  --ion-color-contrast: var(--ion-color-twitter-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-twitter-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-twitter-shade) !important;
  --ion-color-tint: var(--ion-color-twitter-tint) !important;
}

.ion-color-youtube {
  --ion-color-base: var(--ion-color-youtube) !important;
  --ion-color-base-rgb: var(--ion-color-youtube-rgb) !important;
  --ion-color-contrast: var(--ion-color-youtube-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-youtube-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-youtube-shade) !important;
  --ion-color-tint: var(--ion-color-youtube-tint) !important;
}

.ion-color-searchbar {
  --ion-color-base: var(--ion-color-searchbar) !important;
  --ion-color-base-rgb: var(--ion-color-searchbar-rgb) !important;
  --ion-color-contrast: var(--ion-color-searchbar-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-searchbar-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-searchbar-shade) !important;
  --ion-color-tint: var(--ion-color-searchbar-tint) !important;
}

.ion-color-mensaje {
  --ion-color-base: var(--ion-color-mensaje) !important;
  --ion-color-base-rgb: var(--ion-color-mensaje-rgb) !important;
  --ion-color-contrast: var(--ion-color-mensaje-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mensaje-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mensaje-shade) !important;
  --ion-color-tint: var(--ion-color-mensaje-tint) !important;
}

.ion-color-mensajes {
  --ion-color-base: var(--ion-color-mensajes) !important;
  --ion-color-base-rgb: var(--ion-color-mensajes-rgb) !important;
  --ion-color-contrast: var(--ion-color-mensajes-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mensajes-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mensajes-shade) !important;
  --ion-color-tint: var(--ion-color-mensajes-tint) !important;
}

.ion-color-list {
  --ion-color-base: var(--ion-color-list) !important;
  --ion-color-base-rgb: var(--ion-color-list-rgb) !important;
  --ion-color-contrast: var(--ion-color-list-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-list-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-list-shade) !important;
  --ion-color-tint: var(--ion-color-list-tint) !important;
}

.ion-color-visa {
  --ion-color-base: var(--ion-color-visa) !important;
  --ion-color-base-rgb: var(--ion-color-visa-rgb) !important;
  --ion-color-contrast: var(--ion-color-visa-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-visa-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-visa-shade) !important;
  --ion-color-tint: var(--ion-color-visa-tint) !important;
}

.ion-color-master {
  --ion-color-base: var(--ion-color-master) !important;
  --ion-color-base-rgb: var(--ion-color-master-rgb) !important;
  --ion-color-contrast: var(--ion-color-master-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-master-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-master-shade) !important;
  --ion-color-tint: var(--ion-color-master-tint) !important;
}

.ion-color-amex {
  --ion-color-base: var(--ion-color-amex) !important;
  --ion-color-base-rgb: var(--ion-color-amex-rgb) !important;
  --ion-color-contrast: var(--ion-color-amex-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-amex-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-amex-shade) !important;
  --ion-color-tint: var(--ion-color-amex-tint) !important;
}

.ion-color-blybn {
  --ion-color-base: var(--ion-color-blybn) !important;
  --ion-color-base-rgb: var(--ion-color-blybn-rgb) !important;
  --ion-color-contrast: var(--ion-color-blybn-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-blybn-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-blybn-shade) !important;
  --ion-color-tint: var(--ion-color-blybn-tint) !important;
}

.ion-color-resena {
  --ion-color-base: var(--ion-color-resena) !important;
  --ion-color-base-rgb: var(--ion-color-resena-rgb) !important;
  --ion-color-contrast: var(--ion-color-resena-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-resena-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-resena-shade) !important;
  --ion-color-tint: var(--ion-color-resena-tint) !important;
}
