<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" color="primary" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="ion-label1">
    Ganancias
  </ion-label>

<div *ngIf="graficos">
<ion-card>
  <ion-card-title>Gráfico ganancia general</ion-card-title>
  <ion-card-content>
    <canvas baseChart [datasets]="chartData" [chartType]="chartType" [colors]="chartColors"
      [legend]="chartLegend"></canvas>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-title>Gráfico ganancia por servicio</ion-card-title>
  <ion-card-content>
    <canvas baseChart [datasets]="chartData" [chartType]="chartType2" [colors]="chartColors2"
      [labels]="chartLabels"></canvas>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-title>
    Ganancia total de esta propiedad
  </ion-card-title>
  <ion-card-content>

  </ion-card-content>
</ion-card>
</div>

<div class="container-img" *ngIf="noGanancia">
<ion-img src="assets/icons/logo-favorito.svg"></ion-img><br>
<ion-label class="texto-f">No hay ganancias aún de esta propiedad</ion-label>
</div>
 

</ion-content>