<ion-header>
  <ion-toolbar class="background" lines="none">
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon name="close" class="color-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="contenedor">

    <h1>¡Bienvenida!</h1> 
    <h3>Primer día de tu estancia.</h3>  
    <h3>¡Que la disfrutes!</h3>
    <ion-row class="img">
      <ion-img src="../../../assets/imgs/ER.svg"></ion-img>
    </ion-row>
  </div>
</ion-content>
