<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" class="menu">
        <ion-icon src="/assets/imgs/sidemenu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
      <ion-searchbar placeholder="¿A donde quieres ir?" [debounce]="250" animated mode="md"> </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-segment value="Mas buscados" mode="ios">
    <ion-segment-button value="Mas buscados">
      <ion-label>Más buscados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Favoritos">
      <ion-label>Favoritos</ion-label>
    </ion-segment-button>
  </ion-segment>
 
</ion-content>