<ion-content class="ion-no-padding background" fullscreen>
  <ion-row>
    <h1>Promociones</h1>
  </ion-row>
  <div *ngIf="contentLoaded">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
                *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
          
          <ion-card>
            <ion-img src="/assets/templates/4.jpg"></ion-img>
          </ion-card>
  
          <ion-card-header>
            <ion-card-subtitle>Propiedad</ion-card-subtitle>
            <ion-card-title>Cargando Información Propiedad</ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
           ...
          </ion-card-content>
  
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 
  <div *ngIf="!contentLoaded">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
                *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
          
          <ion-card>
            <ion-skeleton-text animated style="width: 100%; height: 100%"></ion-skeleton-text>
          </ion-card>
  
          <ion-card-header>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-header>
  
          <ion-card-content>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-card-content>
  
  
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>