ion-content {
    --background: #1d1e1e;
}

.centrar{
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
width: 250px; /* Definimos el ancho del objeto a centrar */
height: 250px; /* Definimos el alto del objeto a centrar */
margin-top: -125px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -125px; /* Restamos la mitad de la anchura del objeto con un margin-left */
}

ion-img {
    height: 250px;
    width: 250px;
}

.dato2{
    font-family: 'HelveticaBold';
    font-size: 25px;
    color:white;
    text-align: center;
    align-items: center;
}

p {
    font-family: 'HelveticaMedium';
    font-size: 14px;
    color: white;
    text-align: center;
    align-items: center;
}