h1 {
    padding: 15px;
    font-family: "HelveticaBold";
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 0%;
}

ion-list{
    h3 {
        font-family: 'HelveticaLight';
        font-size: 15px;
    }
    p {
        font-family: 'Helvetica';
        font-size: 14px;
    }

    ion-label {
        font-family: 'HelveticaLight';
        font-size: 14px;
    }
}

  .container-img{
        text-align: center;
        position: absolute;
        top: 60%; /* Buscamos el centro horizontal (relativo) del navegador */
        left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
        width: 150px; /* Definimos el ancho del objeto a centrar */
        height: 150px; /* Definimos el alto del objeto a centrar */
        margin-top: -75px; /* Restamos la mitad de la altura del objeto con un margin-top */
        margin-left: -75px; /* Restamos la mitad de la anchura del objeto con un margin-left */
        
  }

 .container-archivados {
    text-align: center;
    position: absolute;
    bottom: -15%;
    left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
    width: 150px; /* Definimos el ancho del objeto a centrar */
    height: 150px; /* Definimos el alto del objeto a centrar */
    margin-top: -75px; /* Restamos la mitad de la altura del objeto con un margin-top */
    margin-left: -75px; /* Restamos la mitad de la anchura del objeto con un margin-left */
}

    .texto-f {
      width: 100%;
      font-family: 'HelveticaBold';
      font-size: 14px;
  }