h1 {
    padding: 15px;
    font-family: "HelveticaBold";
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 0%;
}

ion-list{
    h3 {
        font-family: 'HelveticaLight';
        font-size: 15px;
    }
    p {
        font-family: 'Helvetica';
        font-size: 14px;
    }

    ion-label {
        font-family: 'HelveticaLight';
        font-size: 14px;
    }
}