ion-list {
    align-items: center;
    h2 {
        font-family: "HelveticaBold";
        font-weight: bold;
        font-size: 16px;
        white-space: pre-line;
    }
    p {
        font-family: "Helvetica";
        font-size: 13px;
        font-weight: bold;
        white-space: pre-line;
        text-align: justify;
    }
}

h1 {
    padding: 25px;
    font-family: "HelveticaBold";
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 0%;
}


.my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute;
    display: block;
}

.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
        border-style: none;
        box-shadow: none !important;
    }
    .card-title {
        position: absolute;
        top: 65%;
        font-size: 45px;
        font-family: "HelveticaBold";
        color: #fff;
        margin-left: 15px;
    }

    .card-title2 {
        width: 500px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        bottom: 25px;
        font-size: 15px;
        font-family: "HelveticaLight";
        color: #ffffff;
        top: 50%;
    }

    .card-subtitle {
        width: 500px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        font-size: 12px;
        font-family: "Helvetica";
        color: #ffffff;
        top: 57%;
    }

    .buttonCard {
        width: 500px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        bottom: 15%;
    }

    .imgsCards {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        margin-left: -40px;
        top: 20%;
    }
}

/* Show background if class is active */
.show-background {
    border-style: none;
    background: var(--ion-color-primary);
}

/* Remove bottom border on md */
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-tab-bar{
    --color-selected: #f4f4f4 !important; 
}

::ng-deep .match-item-action-sheet .action-sheet-group.sc-ion-action-sheet-md {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #f2f2f2;
    font-family: "HelveticaBold";
    font-size: 50px;
}

.my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute;
    display: block;
}

ion-content {
    .banner {
        position: relative;
    }

    ion-img{
        width: 100%;
    }

    .caption {
        position: absolute;
        width: 100%;
        bottom: 55px;
        font-size: 36px;
        color: white;
        padding-left: 26px;
        padding-right: 26px;
        text-align: center;
        font-family: 'HelveticaBold';
    }

    .search {
        position: absolute;
        bottom: -40px;
        width: calc(100% - 50px);
        background: #a2a2a2 !important;
        margin: 16px 26px 16px 26px;
        padding: 5px 16px 5px 16px;
        border-radius: 10px;
        box-shadow: 0px 3px 12px 2px rgba(0, 0, 0.16);

        ion-item {
            --inner-padding-end: 0 !important;
            --background: #a2a2a2 !important;
            ion-label {
                background: #a2a2a2 !important;
                font-family: 'HelveticaBold';
                font-size: 16px;
                text-align: center;
            }
        }
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 42px 26px 16px 26px;
        font-family: 'HelveticaBold';
        font-size: 5px;
    }
}


.listCards {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    ion-img {
        width: 100%;
        overflow: hidden;
    }
}

.card-titleA {
    position: absolute;
    text-align: right;
    top: 65%;
    font-size: 35px;
    font-family: "HelveticaBold";
    color: #fff;
    margin-left: 15px;
}