ion-list {
    align-items: center;
    h2 {
        font-family: "HelveticaBold";
        font-weight: bold;
        font-size: 16px;
        white-space: pre-line;
    }
    p {
        font-family: "Helvetica";
        font-size: 13px;
        font-weight: bold;
        white-space: pre-line;
        text-align: justify;
    }
}

h1 {
    padding: 25px;
    font-family: "HelveticaBold";
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 0%;
}

::ng-deep .match-item-action-sheet .action-sheet-group.sc-ion-action-sheet-md {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #f2f2f2;
    font-family: "HelveticaBold";
    font-size: 50px;
}

.my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute;
    display: block;
}

.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
        border-style: none;
        box-shadow: none !important;
    }
    .card-title {
        position: absolute;
        top: 65%;
        font-size: 45px;
        font-family: "HelveticaBold";
        color: #fff;
        margin-left: 15px;
    }

    .card-title2 {
        width: 500px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        bottom: 25px;
        font-size: 15px;
        font-family: "HelveticaLight";
        color: #ffffff;
        top: 50%;
    }

    .card-subtitle {
        width: 500px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        font-size: 12px;
        font-family: "Helvetica";
        color: #ffffff;
        top: 57%;
    }

    .buttonCard {
        width: 500px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        bottom: 15%;
    }

    .imgsCards {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        margin-left: -40px;
        top: 20%;
    }
}
.listCards {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    ion-img {
        border-radius: 10px 10px 10px 10px !important;
        overflow: hidden;
    }
}

.imgInfo{
    border-radius: 10px 10px 10px 10px !important;
    overflow: hidden;
}