<ion-header>
  <ion-toolbar color="titulos" class="ion-no-border" translucent>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="centrar">
    <ion-img src="/assets/imgs/logo.svg"></ion-img>
    <p class="dato2">
      ¡Oops!
    </p>
    <p class="ion-align-items-center">Al parecer aun no tenemos propiedades en este lugar.</p>
    <p class="ion-align-items-center">Inténtalo Nuevamente</p>
  </div>
</ion-content>  
