/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}@keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}    

@font-face {
    font-family: "Helvetica";
    src: url("assets/fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: "HelveticaBold";
    src: url("assets/fonts/HelveticaNeue\ Bold.ttf");
}

ion-button {
    font-family: "HelveticaBold" !important;
    text-transform: capitalize;
}

@font-face {
    font-family: "HelveticaLight";
    src: url("assets/fonts/HelveticaNeue\ Light.ttf");
}

@font-face {
    font-family: "HelveticaMedium";
    src: url("assets/fonts/HelveticaNeue\ Medium.ttf");
}

@font-face {
    font-family: "HelveticaThin";
    src: url("assets/fonts/HelveticaNeue\ Thin.ttf");
}

@font-face {
    font-family: "HelveticaIt";
    src: url("assets/fonts/HelveticaNeueIt.ttf");
}

.my-custom-class {
    --background: #f2f2f2;
    font-family: "HelveticaBold";
    color: #ffffff;
    font-size: 13px;
    text-align: justify;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.my-header-class {
    --background: #97a27c;
    --background: linear-gradient(
        330deg,
        rgba(151, 162, 124, 1) 10%,
        rgba(187, 215, 117, 1) 22%,
        rgba(158, 167, 96, 1) 34%,
        rgba(180, 189, 133, 1) 67%,
        rgba(152, 176, 86, 1) 84%,
        rgba(166, 152, 152, 1) 98%
    );
}

ion-split-pane {
    --border: none !important;
    ion-menu {
        --background: var(--ion-color-sidemenu) !important;
        ion-content {
            --background: var(--ion-color-sidemenu) !important;
            ion-list-header {
                --background: var(--ion-color-sidemenu) !important;
                --color: #ffffff !important;
            }
            ion-item {
                --background: var(--ion-color-sidemenu) !important;
                --color: #ffffff !important;
                ion-icon {
                    padding-right: 10px !important;
                }
            }
        }
    }
}

ion-tab-bar {
    --background: #292d33;
    ion-tab-button {
        --background: #292d33;
    }
}

.iconFacebook,
.iconFacebook .sc-ion-action-sheet-md {
    color: #1873ea !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.iconInstagram,
.iconInstagram .sc-ion-action-sheet-md {
    color: #d32a36 !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.iconTwitter,
.iconTwitter .sc-ion-action-sheet-md {
    color: #53c1e3 !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.iconYoutube,
.iconYoutube .sc-ion-action-sheet-md {
    color: #ff0000 !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.iconTiktok,
.iconTiktok .sc-ion-action-sheet-md {
    color: #000000 !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.iconSnapchat,
.iconSnapchat .sc-ion-action-sheet-md {
    color: #e9dc01 !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.iconCancelar,
.iconCancelar .sc-ion-action-sheet-md {
    color: #f51f2f !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.iconCerrar,
.iconCerrar .sc-ion-action-sheet-md {
    color: #f51f2f !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}
.iconCamera,
.iconCamera .sc-ion-action-sheet-md {
    color: #8a9613 !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.iconGaleria,
.iconGaleria .sc-ion-action-sheet-md {
    color: #3f7ac9 !important;
    font-family: "HelveticaBold";
    font-size: 16px;
}

.toast-scheme {
    font-family: "HelveticaBold";
    font-size: 13px;
    text-align: center;
}

ion-searchbar {
    .searchbar-input-container {
        font-family: "HelveticaLight";
        font-size: 15px;
        width: bold;
        .searchbar-input {
            border-radius: 20px;
        }
    }
}

.ion-searchbar2 {
    .searchbar-input-container {
        font-family: "HelveticaLight";
        font-size: 15px;
        width: bold;
        .searchbar-input {
            border-radius: 20px;
            background: #e1dfdf;
        }
    }
}

.change-address-shipping-modal {
    --height: 40%;
    align-items: flex-end;
    --border-radius: 50px 50px 0px 0px;
    --background: #f2f2f2 !important;
}

.change-address-shipping-modal1 {
    --height: 40%;
    align-items: flex-end;
    --border-radius: 50px 50px 0px 0px;
    --background: #f2f2f2 !important;
}
