<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-row class="diseñoModal">
      <ion-img src="/assets/imgs/buttons.svg"> </ion-img>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list style="background-color: transparent !important;">
    <ion-row>
      <h1>Fecha de expiración</h1>
    </ion-row>
    <ion-row>
      <p>
        La fecha de expiración de su tarjeta se encuentra grabada en su tarjeta. La tarjeta expirará el último día del
        mes. Por ejemplo si la fecha de expiración (Mes/Año) muestra 01/17, la tarjeta expirará el 31 de Enero de 2017.
      </p>
    </ion-row>
    <ion-row class="imagen">
      <ion-img src="/assets/imgs/fechaexp.svg"></ion-img>
    </ion-row>
  </ion-list>
</ion-content>