<ion-header class="ion-no-border" translucent>
  <ion-toolbar class="my-header-class">
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-title">Aviso de privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding card">
    <ion-card-content>
      <h1>{{bly_titulo}}</h1>
      <p>{{Descripcion}}</p>
      <br>
      <h1>{{bly_articulo1}}</h1>
      <p>{{bly_parrafo1}}</p>
      <p>{{bly_parrafo2}}</p>
      <p>{{bly_parrafo3}}</p>
      <p>{{bly_parrafo4}}</p>
      <br>
      <h1>{{bly_articulo2}}</h1>
      <p>{{bly_parrafo6}}</p>
      <p>{{bly_parrafo7}}</p>
      <p>{{bly_parrafo8}}</p>
      <p>{{bly_parrafo9}}</p>
      <p>{{bly_parrafo10}}</p>
      <p>{{bly_parrafo11}}</p>
      <p>{{bly_parrafo12}}</p>
      <p>{{bly_parrafo13}}</p>
      <br>
      <h1>{{bly_articulo3}}</h1>
      <p>{{bly_parrafo14}}</p>
      <ul>
        <li>{{bly_parrafo15}}</li>
        <li>{{bly_parrafo16}}</li>
        <li>{{bly_parrafo17}}</li>
        <li>{{bly_parrafo18}}</li>
        <li>{{bly_parrafo19}}</li>
        <li>{{bly_parrafo20}}</li>
        <li>{{bly_parrafo21}}</li>
        <li>{{bly_parrafo22}}</li>
        <li>{{bly_parrafo23}}</li>
        <li>{{bly_parrafo24}}</li>
        <li>{{bly_parrafo25}}</li>
        <li>{{bly_parrafo26}}</li>
        <li>{{bly_parrafo27}}</li>
        <li>{{bly_parrafo28}}</li>
        <li>{{bly_parrafo29}}</li>
        <li>{{bly_parrafo30}}</li>
      </ul>
      <p>{{bly_parrafo31}}</p>
      <p>{{bly_parrafo32}}</p>
      <br>
      <h1>{{bly_articulo4}}</h1>
      <p>{{bly_parrafo34}}</p>
      <br>
      <h1>{{bly_articulo5}}</h1>
      <p>{{bly_parrafo36}}</p>
      <p>{{bly_parrafo37}}</p>
      <p>{{bly_parrafo38}}</p>
      <p>{{bly_parrafo39}}</p>
      <p>{{bly_parrafo40}}</p>
      <ul>
        <li>{{bly_parrafo41}}</li>
        <li>{{bly_parrafo42}}</li>
        <li>{{bly_parrafo43}}</li>
        <li>{{bly_parrafo44}}</li>
      </ul>
      <p>{{bly_parrafo45}}</p>
      <p>{{bly_parrafo46}}</p>
      <p>{{bly_parrafo47}}</p>
      <br>
      <h1>{{bly_articulo6}}</h1>
      <p>{{bly_parrafo50}}</p>
      <br>
      <h1>{{bly_articulo7}}</h1>
      <p>{{bly_parrafo52}}</p>
      <br>
      <h1>{{bly_articulo8}}</h1>
      <p>{{bly_parrafo54}}</p>
      <p>{{bly_parrafo55}}</p>
      <p>{{bly_parrafo56}}</p>
      <p>{{bly_parrafo57}}</p>
      <p>{{bly_parrafo58}}</p>
      <p>{{bly_parrafo59}}</p>
      <br>
      <h1>{{bly_articulo9}}</h1>
      <p>{{bly_parrafo60}}</p>
      <p>{{bly_parrafo61}}</p>
      <p>{{bly_parrafo62}}</p>
      <p>{{bly_parrafo63}}</p>
      <p>{{bly_parrafo64}}</p>
      <p>{{bly_parrafo65}}</p>
      <p>{{bly_parrafo66}}</p>
      <p>{{bly_parrafo67}}</p>
      <p>{{bly_parrafo68}}</p>
      <p>{{bly_parrafo69}}</p>
      <br>
      <h1>{{bly_articulo10}}</h1>
      <p>{{bly_parrafo71}}</p>
      <p>{{bly_parrafo72}}</p>
      <p>{{bly_parrafo73}}</p>
      <p>{{bly_parrafo74}}</p>
      <br>
      <h1>{{bly_articulo11}}</h1>
      <p>{{bly_parrafo77}}</p>
      <br>
      <h1>{{bly_articulo12}}</h1>
      <p>{{bly_parrafo79}}</p>
      <p>{{bly_parrafo80}}</p>
      <p>{{bly_parrafo81}}</p>
      <p>{{bly_parrafo82}}</p>
      <br>
      <h1>{{bly_articulo13}}</h1>
      <p>{{bly_parrafo84}}</p>
      <p>{{bly_parrafo85}}</p>
      <br>
      <h1>{{bly_articulo14}}</h1>
      <p>{{bly_parrafo87}}</p>
      <p>{{bly_parrafo88}}</p>
      <p>{{bly_parrafo89}}</p>
      <br>
      <h1>{{bly_articulo15}}</h1>
      <p>{{bly_parrafo90}}</p>
      <p>{{bly_parrafo91}}</p>
      <p>{{bly_parrafo92}}</p>
      <p>{{bly_parrafo93}}</p>
      <p>{{bly_parrafo94}}</p>
      <p>{{bly_parrafo95}}</p>
      <p>{{bly_parrafo96}}</p>
      <p>{{bly_parrafo97}}</p>
      <p>{{bly_parrafo98}}</p>
      <br>
      <h1>{{bly_articulo16}}</h1>
      <br>
      <h1>{{bly_articulo17}}</h1>
      <p>{{bly_parrafo101}}</p>
      <p>{{bly_parrafo102}}</p>
      <p>{{bly_parrafo103}}</p>
      <p>{{bly_parrafo104}}</p>
      <p>{{bly_parrafo105}}</p>
      <p>{{bly_parrafo106}}</p>
      <p>{{bly_parrafo107}}</p>
      <br>
      <h1>{{bly_articulo18}}</h1>
      <p>{{bly_parrafo109}}</p>
      <p>{{bly_parrafo110}}</p>
      <p>{{bly_parrafo111}}</p>
      <br>
      <h1>{{bly_articulo19}}</h1>
      <p>{{bly_parrafo115}}</p>
      <p>{{bly_parrafo116}}</p>
      <p>{{bly_parrafo117}}</p>
      <p>{{bly_parrafo118}}</p>
      <p>{{bly_parrafo119}}</p>
      <p>{{bly_parrafo120}}</p>
      <br>
      <h1>{{bly_articulo20}}</h1>
      <p>{{bly_parrafo123}}</p>
      <p>{{bly_parrafo124}}</p>
      <p>{{bly_parrafo125}}</p>
      <br>
      <h1>{{bly_articulo21}}</h1>
      <p>{{bly_parrafo127}}</p>
      <p>{{bly_parrafo128}}</p>
      <p>{{bly_parrafo129}}</p>
      <p>{{bly_parrafo130}}</p>
      <p>{{bly_parrafo131}}</p>
      <br>
      <h1>{{bly_articulo22}}</h1>
      <p>{{bly_parrafo135}}</p>
      <p>{{bly_parrafo136}}</p>
      <p>{{bly_parrafo137}}</p>
      <p>{{bly_parrafo138}}</p>
      <p>{{bly_parrafo139}}</p>
      <p>{{bly_parrafo140}}</p>
      <p>{{bly_parrafo141}}</p>
      <p>{{bly_parrafo142}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>