<ion-header class="ion-no-border" translucent>
  <ion-toolbar  class="my-header-class">
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-title">Aviso de privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding card">
    <ion-card-content>
      
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
        impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
        Veniam, officiis?
      </p>
      <p>
        Lorem   ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
        impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
       
      </p>
      <br>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
        impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
        Veniam, officiis?
      </p>
      <p>
        Lorem   ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
        impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
       
      </p>
      <br>
     
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
        impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
        Veniam, officiis?
      </p>
      <p>
        Lorem   ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
        impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
       
      </p>
      <br>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
        impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
        Veniam, officiis?
      </p>
      <p *ngFor = "let item of [1,1,1,1,1,1,1,1]">
        Lorem   ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut consectetur asperiores dolores accusamus
        impedit voluptate cumque soluta incidunt, doloremque rerum sunt sequi modi recusandae ipsum iusto voluptas.
      </p>
      <br>
     
    </ion-card-content> 
  </ion-card>
</ion-content>
