<ion-content class="ion-no-padding card-background-page">
  <div class="banner">
    <ion-img src="{{server + imagenAventura}}" (ionError)="onError(img)" #img></ion-img>
    <div class="caption ion-padding">
      Una experiencia<br>
      en la playa
    </div>
    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label>
          ¿A dónde quieres ir?
        </ion-label>
      </ion-item>
    </div>
  </div> 
  <div class="title">
    
  </div>
  <ion-grid class="ion-text-center">
    <ion-row class="animate__animated animate__bounceInRight animate__slower	3s">
      <ion-col size="12" *ngFor="let aventura of informacionPlaya">
        <ion-card mode="md" class="listCards">
          <ion-card-content>
            <ion-img src="{{server + aventura.bly_imagen}}" (ionError)="onError(img)" #img></ion-img>
            <div class="card-titleA">{{aventura.bly_nombre}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card mode="md" class="listCards">
        <ion-card-content>
          <ion-img src="/assets/templates/3.jpg"></ion-img>
          <div class="imgsCards">
            <ion-img src="/assets/imgs/logo.svg"></ion-img>
          </div>
          <div class="card-title2">¿Quieres registrar tu propiedad?</div>
          <div class="card-subtitle">Agrega la información de tu inmueble.</div>
          <div class="buttonCard">
            <ion-button color="primary" fill="solid" size="medium" style="width: 35%;"
              style=" text-transform: capitalize;" (click)="registrar()">
              Registrar
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-row>
      <ion-item (click)="presentActionSheet()">
        <ion-thumbnail slot="start">
          <ion-img src="/assets/icons/icon-1.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Síguenos en redes sociales</h2>
          <p>Entérate de las ultimas promociones,</p>
          <p>lugares para visitar y más.</p>
        </ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item (click)="mostrarModal()">
        <ion-thumbnail slot="start">
          <ion-img src="/assets/icons/icon-2.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Consulta nuestro aviso de privacidad</h2>
          <p>Examinar con cuidado los siguientes Términos de Servicio, de manera que es...</p>
        </ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item (click)="presentAlertPrompt()">
        <ion-thumbnail slot="start">
          <ion-img src="/assets/icons/icon-3.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Contáctanos</h2>
          <p> ¿Tienes dudas o comentarios?</p>
        </ion-label>
      </ion-item>
    </ion-row>
  </ion-list>
</ion-content>