<ion-header class="ion-no-border" translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salir()">
                <ion-icon slot="icon-only" color="primary" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
    <ion-label class="ion-label1">
        Tus propiedades
      </ion-label>
    <ion-card *ngFor="let exclusivo of propiedades">
        <ion-card-title>{{exclusivo.bly_tituloPropiedad}}</ion-card-title>
        <ion-card-content>
            {{exclusivo.bly_direccionGeneral}}
        </ion-card-content>
    </ion-card>
</ion-content>
